body {
	font-family:"Roboto", Arial, sans-serif;
	margin:0 auto;
	text-align: center;
	margin-top:50px;
	color:#FFF;
	text-shadow:-1px -1px #333;
	background:#333;
}

h1 {
	font-weight:normal;
}

.turn {
	margin-bottom:10px;
}

table {
	border-collapse:collapse;
	width:300px;
	margin:0 auto;
}

td {
	width:100px;
	height:100px;
	border:1px solid #555;
	cursor: crosshair;
	font-family: 'Baskerville', serif;
	font-size: 45px;
	line-height:1;
}

.X {
	color:lightblue;
}

.O {
	color:pink;
}

.reset {
	background:#555;
	border:1px solid #333;
	padding:5px 10px;
	color:#FFF;
	cursor:pointer;
	font-family:"Roboto", Arial, sans-serif;
	text-transform:uppercase;
}

&:hover {
	opacity:0.8;
}

.messages {

}
